{% extends 'main/base.html' %}

{% block content %}
<center>
	<h1 style="color: red;">NO TIME FOR GOLDPLATING!</h1>
	Will implement this feature later.
	<br><br><br><br>
</center>
<div class="container-fluid">
	<table border="0" id="schedule_cal">
		<tr>
			<td>DAY</td>
			<td>06:00 PM</td>
			<td>06:30 PM</td>
			<td>07:00 PM</td>
			<td>07:30 PM</td>
			<td>08:00 PM</td>
			<td>08:30 PM</td>
			<td>09:00 PM</td>
			<td>09:30 PM</td>
			<td>10:00 PM</td>
			<td>10:30 PM</td>
			<td>11:00 PM</td>
			<td>11:30 PM</td>
			<td>12:00 PM</td>
		</tr>

		<tr>
			<td>SAT</td>
			<td>-</td>
			<td class="time_booked">A</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>

		<tr>
			<td>SUN</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>

		<tr>
			<td>MON</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>

		<tr>
			<td>TUE</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
	</table>
</div>
{% endblock %}