{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<h3>Requesting to Join this Doctor: </h3>
	<hr>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
			<br>
			<div class="profile_image" style="background-image: url('{{ doctor.image.url }}');">&nbsp;</div>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
			<h2>{{doctor.user.first_name}} {{doctor.user.last_name}}</h2>
			{{ doctor.field }}<br><br>
			<rating>{{doctor.review_rating}}</rating>
			<br><span class="review_num_text">(Total {{ doctor.total_review }}
				{% if doctor.total_review < 2 %} Review){% else %} Reviews) {% endif %}
			</span>
		</div>
	</div>

	<hr> <br>

	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="doctor_id" value="{{doctor.id}}">
		<textarea name="additional_info" placeholder="(Optional) Provided some additional information if needed"></textarea>
		<div class="text-center">
			<button class="btn_green"> Request to Join </button>
		</div>
	</form>

</div>
{% endblock content %}